html {
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
  width: 100%
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  color: #776e65;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #faf8ef;
  font-family: 'Clear Sans', sans-serif;
}

.Scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.Scoreboard__score {
  border-radius: .5rem;
  text-transform: uppercase;
  padding: .2rem;
  border:.1rem solid ;
}

.Scoreboard__score--max {
  border-color: yellow;
}

.Scoreboard__score--current {
  border-color: rebeccapurple;
}

.BoardContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  border-radius: .5rem;
  background-color: #bbada0;

  width: 500px;
  height: 500px;
}

.BoardContainer__row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: .5rem;
}

.BoardContainer__tile {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  background-color: rgba(238, 228, 218, 0.35);
  font-size: 3rem;
  text-align: center;
  padding: .2rem;
  margin: .2rem;
  width: 5rem;
  height: 5rem;
  font-weight: bold;
  transition: .4s;
}